<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523653024449-kapjo6b75ih4dnm68b8h4r0crvdn6sf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523653024449-kapjo6b75ih4dnm68b8h4r0crvdn6sf8</string>
	<key>API_KEY</key>
	<string>AIzaSyCh_TNlL0lTZUkdwT_gHE0oUMrzRLOImUg</string>
	<key>GCM_SENDER_ID</key>
	<string>523653024449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hexacodes.shortcutrestaurant</string>
	<key>PROJECT_ID</key>
	<string>shortcut-4464b</string>
	<key>STORAGE_BUCKET</key>
	<string>shortcut-4464b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523653024449:ios:e21c22b7adf4b928216240</string>
</dict>
</plist>